.Rhistory
.RData
.Ruserdata
.Rproj.user/
.DS_Store
figures/
readings/
data/
scripts/get_syllabus.Rmd
scripts/varia
scripts/slides
scripts/assignments/solutions
scripts/assignments/instructions/a3_meta_analysis.Rmd
scripts/assignments/instructions/a4p1_diagnosis_schizophrenia.Rmd
scripts/assignments/instructions/a4p2_schizophrenia_voice.Rmd
scripts/assignments/instructions/a4_machine_learning.Rmd
documents/assignments/solutions
methods3_a2023.Rproj

