.Rproj.user.Rhistory.RData.Ruserdata
.gitignoredata/cleaned_data.csvdata/data_clean.csvfiguresmethods3_a2023.Rproj.Rhistory.RData.gitgnore/scripts/solutions//varia//scripts/slides//documents/assignments/solutions/